<%- include('../layout/header', {title: 'Accueil', page: 'home'}) %>

<main class="home-container">
    <div class="title-container">
        <h1 class="main-title">
            <span class="fire-letter">M</span>
            <span class="fire-letter">a</span>
            <span class="fire-letter">n</span>
            <span class="fire-letter">g</span>
            <span class="fire-letter">a</span>
            <span class="fire-letter">W</span>
            <span class="fire-letter">o</span>
            <span class="fire-letter">r</span>
            <span class="fire-letter">l</span>
            <span class="fire-letter">d</span>
        </h1>
        <div class="subtitle">Explorez l'univers des mangas</div>
    </div>
</main>

<%- include('../layout/footer') %>